@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: black;
}
#pharmaProduct{
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 4px; /* Adjust the width to your preference */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #ffdd11; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #f1f1f1; /* Optional: Add a border to match the track background */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffdd11 #000000;
}
#selectCountry {
  color: rgba(29, 29, 31, 1);
}
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner[type="number"] {
  -moz-appearance: textfield;
}
.react-calendar,
.react-calendar__tile,
.react-calendar__viewContainer,
.react-calendar__navigation {
  background-color: rgb(28, 28, 31);
  color: rgb(180, 186, 184);
  border: none;
}

.customCalender .react-calendar,
.react-calendar__tile,
.react-calendar__viewContainer,
.react-calendar__navigation {
  background-color: #0a0a0b !important;
  color: white;
  width: 100%;
  border: none;
}
.custom-datepicker {
  /* border: 1px solid #0f0f0f; Tailwind border-gray-300 */
  padding: 0.25rem; /* Tailwind p-1 */
  border-radius: 0.375rem; /* Tailwind rounded-md */
  font-size: 0.75rem; /* Tailwind text-xs */
  outline: none;
  width: 100%;
  box-sizing: border-box;
}

.custom-datepicker:focus {
  border-color: #3b82f6; /* Tailwind focus:border-blue-500 */
}

.custom-datepicker__input-container {
  display: flex;
  align-items: center;
}

.custom-datepicker__input {
  flex: 1;
  padding: 0.25rem;
  border: none;
  outline: none;
  border-radius: 0.375rem;
  box-sizing: border-box;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #ffdd11; /* Tailwind bg-blue-500 */
  color: #0f0f0f; /* Tailwind text-white */
}

.react-datepicker__day--today {
  font-weight: bold;
  color: #ffdd11; /* Tailwind text-blue-500 */
}

.react-datepicker__header {
  background-color: #f5f5fa; /* Tailwind bg-gray-100 */
  border-bottom: 1px solid #171818;
}

.react-datepicker__current-month {
  font-size: 0.875rem; /* Tailwind text-sm */
  color: #ffdd11; /* Tailwind text-gray-700 */
}

.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.react-datepicker__day-name {
  font-size: 0.85rem; /* Tailwind text-xs */
  color: #ffdd11; /* Tailwind text-gray-500 */
}

.react-datepicker__day {
  font-size: 0.875rem; /* Tailwind text-sm */
  color: #ffffff; /* Tailwind text-gray-700 */
}

.react-datepicker__month {
  margin: 0rem; /* Tailwind m-2 */
  background-color: #0f0f0f;
}

